
<header class="header clearfix">
    <nav>
        <ul class="nav nav-pills float-right">
            <li class="nav-item">
                <a class="nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Add</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Logout</a>
            </li>
        </ul>
    </nav>
    <h3 class="text-muted">Diagon Alley shop</h3>
</header>

<main role="main">
 
    <div class="jumbotron">
        <h1 class="display-3">Innotation</h1>
        <p class="lead">You can buy books in our shop for your sucsess learning</p>
        <p><a class="btn btn-lg btn-success" href="#" role="button">Read More ...</a></p>
    </div>
 
    <div class="row marketing">
        <div class="col-lg-6">
            <h4>Subheading</h4>
            <p>You can buy books in our shop for your sucsess learning</p>
 
        </div>
 
        
    </div>
 
</main>
 
<footer class="footer">
    <p>&copy; Company 2017</p>
</footer>
