<style>
        a1 {
            list-style-type: none;
            margin: 0;
            padding: 0;
        }
        
        a2 {
            display: inline;
        }
</style>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <ul class="nav nav-pills" routerLinkActive="active" id="na">
                <li class="nav-item"><button type="button" class="btn btn-outline-secondary"><a class="nav-link" routerLink="products">Shop</a></button></li>
                <li class="nav-item"><button type="button" class="btn btn-outline-secondary"><a class="nav-link" routerLink="login">Login</a></button></li>
                <li class="nav-item"><button type="button" class="btn btn-outline-secondary"><a class="nav-link" routerLink="home">About</a></button></li>
                <li class="nav-item"><button type="button" class="btn btn-outline-secondary"><a class="nav-link" routerLink="cart"><img src="https://media.nutrisavings.com/Login/shopping-cart.png" width="20" height="20"></a></button></li>
            </ul>
        </div>
</nav>
<br>

<router-outlet></router-outlet>
